transformers>=4.21.0
wordcloud
optuna>=3.0.0
streamlit==1.36.0
gunicorn==22.0.0
sentencepiece
huggingface-hub==0.26
pandas>=1.5.0
numpy>=1.21.0
scikit-learn>=1.2.0
nltk>=3.8
onnx>=1.14.0
onnxruntime-gpu>=1.15.0
emoji>=2.0.0
seaborn>=0.11.0
matplotlib>=3.5.0
tqdm>=4.64.0
datasets>=2.0.0
accelerate>=0.20.0
